<div class="row">
    <div class="tile-icon-container">
      <div class="col-1g-1 tile-icon-lrg tile-icon-lrg-text">
          Nextpakk
      	</div>
  </div>
  </div>
  <div id="wrapper">
       <div id="page-wrapper">
                <div class="container-fluid">
                    <h2></h2><br />
                      <div class="mob-body-text">
                          <h3 style="padding-bottom: 10px; text-align: center;">Smart, Secure, Convenient</h3>
                          <strong>Shedule delivery at your convenience and when your're home.</strong>
                      </div>
                    <!-- /.container-fluid -->
                  </div>
        </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
<div id="footer">
      <div class="container how-nav-container">
        <div class="col-1g-1 tile-icon how-nav">
            <span class="how-nav-pipe">| </span>| | | | | |
        </div>
        <div class="col-1g-9 tile-icon-sm how-nav-text-container">
          <a href="/paqs/how2" class="cust-block-icons how-nav-text">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>