<div class="row">
    <div class="tile-icon-container">
      <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">             
                    <div class="icon">
                      <div class="image"><i class="glyphicon glyphicon-map-marker glyph-lrg-cntr"></i></div>
                      <div class="info">
                        <p>
                          <div class="cust-mob-body-text">
                                  <h2 style="color: white !important;">NextPakk Address</h2>
                                  <div class="mobile-para-body" >
                                  <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %><br />
                                  3909 Minnehaha Ave<br />
                                  NextPakk #<%= current_user.packs_num %><br />
                                  Minneapolis, MN 55406  
                                  </div>
                          </div>
                        </p>
                            
                          </div>
                        </div>
                        <div class="space"></div>
                      </div> 
                    </div>
  </div>
  </div>
  <div id="wrapper">
       <div id="page-wrapper">
                <div class="container-fluid">
                    <h2></h2><br />
                      <div class="mob-body-text">
                          <h4 ><strong>This is your NextPakk Shipping Address to use when you shop online.</strong></h4>
                          <h4 style="font-size: 16px !important;">You can find it throughout the app so there's no need to commit it to memory.</h4>
                      </div>
                    <!-- /.container-fluid -->
                  </div>
        </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
<div id="footer">
      <div class="container how-nav-container">
        <div class="col-1g-1 tile-icon how-nav">
            | <span class="how-nav-pipe">| </span>| | | | |
        </div>
        <div class="col-1g-9 tile-icon-sm how-nav-text-container">
          <a href="/paqs/how3" class="cust-block-icons how-nav-text"> next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>