<div class="row">
    <div class="tile-icon-container">
      <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">             
                    <div class="icon">
                      <div class="image"><i class="glyphicon glyphicon-shopping-cart glyph-lrg-cntr" style="color: white !important;"></i></div>
                      <div class="info">
                               <p class="info" style="width: 210px; margin: 0 auto !important;">
                                  <%= image_tag "https://s3.amazonaws.com/nextpakkweb/how-to-screen-5.png", class: "img-responsive " %>
                                  </p><br /><br />
                          </div>
                        </div>
                        <div class="space"></div>
                      </div> 
                    </div>
  </div>
  </div>
  <div id="wrapper">
       <div id="page-wrapper">
                <div class="container-fluid">
                    <h2></h2>
                      <div class="mob-body-text">
                          <h3 style="font-size: 18px !important;"><strong>Schedule a day and time that's convenient for you.</strong></h3>
                      </div>
                    <!-- /.container-fluid -->
                  </div>
        </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
<div id="footer">
      <div class="container how-nav-container">
        <div class="col-1g-1 tile-icon how-nav">
            | | | | | <span class="how-nav-pipe"> | </span>| 
        </div>
        <div class="col-1g-9 tile-icon-sm how-nav-text-container">
          <a href="/paqs/how7" class="cust-block-icons how-nav-text"> next <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>