<div class="container">
      <div class="content">
        <div class="wrapper">
          <div class="proper-content">
            <div class="row">
              <div class="span12">
                 <div class="step1" style="margin-top: -60px !important;">
                 <div class="step1" style="margin-top: 0px !important;">

                 <div class="step1" style="margin-top: 0px !important;">
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video autoplay class="embed-responsive-item">
                            <source src="https://s3.amazonaws.com/nextpakkweb/58425766_1080p.mp4" type="video/mp4">
                            
                        </video>
                    </div>
                    </div>
                    <div class="container-fluid">
                      <div class="mob-body-text" style="margin:0 auto !important; margin-right: 24px !important;">
                       <br /><h3  style=" color: #000033 !important;">Simple, convenient delivery on your time?</h3>
                          <h3 style="font-size: 18px !important;"><strong>NextPakk delivers your package when you're availabe and at home.</strong></h3>
                      </div>
                    <!-- /.container-fluid -->
                  </div>

              </div>
            </div>
          </div><!-- /.proper-content -->

          <div class="space"></div>

        </div><!-- /.wrapper -->        
      </div>
    </div>
</div>
<div id="footer">
      <div class="container how-nav-container">
        <div class="col-1g-1 tile-icon how-nav">
            | | | | | | <span class="how-nav-pipe">| </span>
        </div>
        <div class="col-1g-9 tile-icon-sm how-nav-text-container">
          <a href="/paqs/address" class="cust-block-icons how-nav-text">   Done <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>  
      </div>
</div>