<%= image_tag "https://s3.amazonaws.com/nextpakkweb/nextpakk-packs-step5-short.png" %>


<h4 style="text-align:center;">Schedule Delivery</h4><br />
<%= link_to "next", paqs_step6_path, class: "btn btn-info pull-right" %><br /> 