<div class="mobile-body">
	<h2>Your New Address</h2>
	<h3><%= current_user.first_name %> <%= current_user.last_name %><br />
	   3601 25th Ave S.<br /> 
	   NextPakk #<%= current_user.packs_num %><br />
	   Minneapolis, MN 55406</p></h3>
	<h4>This your new address to use when you're shopping online.</h4><br /> 
</div>
<%= link_to "next", paqs_step3_path, class: "btn btn-info pull-right" %><br /> 
