<%= image_tag "https://s3.amazonaws.com/nextpakkweb/nextpakk-packs-step4-short.png" %>


<h4>We'll notify you when we receive your package</h4>
<%= link_to "next", paqs_step5_path, class: "btn btn-info pull-right" %><br /> 