<div class="row">
    <div style="background-color:orange !important; height:300px;">
      <div class="col-1g-1 tile-icon-lrg" style="background-color:#00f; height:300px; width:100%; border-right: 1px solid;">
          Nextpakk
      	</div>
      
  </div>
  </div>

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>

<div id="wrapper">
 
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="step1">
                    <h2></h2><br />
                    <p class="mobile-para">
                    <h2 style="padding-bottom: 20px; text-align: center;">Smart, Secure, Convenient</h2>

                          <span class="mobile-para">Shedule delivery at your convenience and when your're home. </span>
                    </p>
 
                    <div class="col-lg-12">
    <div class="row">
    <div style="background-color:transparent !important; height:50px;">
      
      <div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:33%; float:left; ">
         
      	</div>

      	<div class="col-1g-1 tile-icon" style="background-color:#0f0; height:50px; width:33%; float:left; ">
          <span style="color: #b0b0b0 !important; ">| </span>| | | | | 
      	</div>
     
      	<div class="col-1g-9 tile-icon-sm" style="background-color:#0f0; height:70px; width:33%; float:left;"">
          <a href="/paqs/address" class="cust-block-icons" style="color: orange !important;">   next <i class="glyphicon glyphicon-chevron-right"></i></a>
      	</div>
  </div>
  </div>
</div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->
<hr>
