<div class="col-md-8 col-md-offset-2">
	<h2>Authorized Users</h2>
	<div class="panel panel-default">
		<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% @users = User.all %>
				<% @Users.each do |user|  %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td><%= user.name %></td>
					</tr>
			</tbody>
		</table>
			
		</div>
		
	</div>

</div>