<h1>We would love to hear from you.</h1>
<p>Contact us at lowellfortune@gmail.com</p>
<ul class="nav nav-tabs">
					  <li class="active">
					    <a href="#">Home</a>
					  </li>
					  <li><a href="#">...</a></li>
					  <li><a href="#">...</a></li>
					</ul>
					

					<a class="btn btn-primary btn-large">
      Learn more
    </a>