
<%= render 'layouts/rs_header' %>
<body class="hold-transition skin-blue sidebar-mini">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="color: #2388f9 !important;"><strong>Reviews</strong>SOS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Services</a>
                    </li>
                          <li><%= link_to "Sign Up", new_user_registration_path, class: "page-scroll" %></li>
                          <li><%= link_to "Sign In", new_user_session_path, class: "page-scroll" %></li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <!-- Header Navbar: style can be found in header.less -->
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 0px !important; background: white !important;">
    <!-- Content Header (Page header) -->
    
<!-- Modal -->


<div class="content" style="width: 100% !important; background: white !important; margin-top: 100px;">
<div class="row">
            <p style="text-align: center; font-size: 18px; "><b>How ReviewsSOS Works</b></p>

<div class="col-md-2">
</div>

<div class="col-md-2">
          

	</div>
	<div class="col-md-2">
		<div class="box" style="border-top: 0px !important; padding: 14px; box-shadow: none !important;">
          
          	<b>Recover Unhappy Customers</b><br />
			Reach unhappy customers before they badmouth you online

          </div>
	</div>
	<div class="col-md-2">
			<div class="box" style="border-top: 0px !important; padding: 14px; box-shadow: none !important;">

		<b>Monitor Performance</b><br />
		Collect data to optimize your campaigns and alert you to issues
		</div>
	</div>
	<div class="col-md-2">
			
	</div>
	<div class="col-md-2">
		
	</div>

		          <%= image_tag "https://s3.amazonaws.com/nextpakkweb/five-stars.png", class: "img-responsive", style: "width: 500px; margin: auto;" %>

</div>
<div class="row">

<div class="col-md-2">
</div>

<div class="col-md-2">
          

	</div>
	<div class="col-md-2">
		<div class="box" style="border-top: 0px !important; padding: 14px; box-shadow: none !important;">
			<b>Increase Reviews</b><br />
			Get more and better online reviews for you where they count
          </div>
	</div>
	<div class="col-md-2">
			<div class="box" style="border-top: 0px !important; padding: 14px; box-shadow: none !important;">

		<b>Amplify Happy Customers</b><br />
		Showcase your best reviews with automated Web and social media content
		</div>
	</div>
	<div class="col-md-2">
			
	</div>
	<div class="col-md-2">
		
	</div>


</div>
<div class="row">

<div class="col-md-2">
</div>

	
	<div class="col-md-2">
	</div>
</div>



</div>
  <!-- /.content-wrapper -->
  <footer class="main-footer" style="margin-left: 0px;">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2017 <a href="https://spotberry.com">SpotBerry</a>.</strong> All rights
    reserved.
  </footer>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- AdminLTE App -->
</body>
</html>
     















