
<h1>New Review </h1>

<blockquote>
<% @newInvite = Invite.last %>

<h2>Hi <%= @newInvite.fname %></h2>

Thanks for choosing Spotberry. I’d like to personally invite you to share your experience.<br />

Your feedback not only helps us, it helps other potential customers.<br /> It takes only a moment and would mean the world to us:<br />

<h4><%= link_to "Review Us Now", "http://www.localhost:3000/companies/<%= @cname %>/review" %></h4>

Having trouble with the button? Click here instead.<br />

Thank you for your business and support!
</blockquote>