
/*Dashboard styles begin*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


#wrapper {
    padding-left: 0 !important;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: transparent;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover {
    background: #efefef !important;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */


/* start sticky footer */

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  position: relative;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.footer-block { margin: 20px 0; }

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* end sticky footer */

@media(min-width:768px) {

body {
        margin-top: 0px !important;
    }
    /* html, body, #wrapper, #page-wrapper {
    height: 100%; overflow: hidden;
    }  */

     #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }

    .side-nav {
        margin-top: -9px;
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #cccccc !important;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar-default .navbar-nav>li>a:hover{
    background: #efefef !important;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
    color: orange !important;
    font-size: 34px;
    padding-top: 16px;

}

.navbar-default .navbar-brand a {
    color: orange !important;
}



/* end   */
 .cust-block-icons a:link {

 color: #ffd700 !important;

 }

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.tile-icon{
    display:inline-block;
    font-size: 40px;
    line-height: 100px;
    background-color:transparent !important;
    color:orange;
    width: 33%;
    height: 100px;
    text-align: center;
    vertical-align: bottom;
}

.tile-icon-lrg{
    display:inline-block;
    font-size: 40px;
    line-height: 300px;
    background-color:transparent !important;
    color:white !important;
    width: 33%;
    height: 300px;
    text-align: center;
    vertical-align: bottom;
}

.tile-icon-sm{
    display:inline-block;
    font-size: 20px;
    line-height: 100px;
    background-color:transparent !important;
    color:white !important;
    width: 33%;
    height: 300px;
    text-align: center;
    vertical-align: bottom;
}


.jumbotron {
    background-color: #f9ab23 !important;
    border: 1px solid #0069ff;  

    h1{
    color: #0069ff !important;
    }

    h3{
    color: #f9ab23;
    font-weight: bold !important;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;

    }

    h2{
    color:#0069ff !important;
    font-weight: bold;
    }
}

.navbar-default {
    .container-fluid {  
        background-color: #ffffff;
            .navbar-nav > li > a {
            color:#000000;
            font-size: 16px;
            font-weight: bold;
        }
        .navbar-brand {
        color:#f9ab23;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Days One', sans-serif;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
        }
    }
}

.container-fluid {
    padding: 10px 120px !important;

}

/*  profile start  */

 /* Profile image component */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
    margin-top:70px;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 90px;
    height: 90px;
    border: 4px solid #cccccc;
}

.profile-header {
    margin-top: 43px;
}





.jumbotron {
background-image: url("https://s3.amazonaws.com/nextpakkweb/app-header-image-web-app-1200-transp.png");
background-size: cover;}

.nav-tabs>li>a {
    text-decoration: none !important;
}

.navbar-default .container-fluid .navbar-brand {
    text-decoration: none !important;
}

.navbar-nav > li > a  {
    text-decoration: none !important;
}

a,a:link, a:visited {
    text-decoration: none !important;
}

a, a:link,  {
    color: black !important;
}

a:active a:visited {
    color: #B8B8B8  !important;
}

.navbar-default .container-fluid .navbar-brand{
    color: #f9ab23 !important;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background: #efefef !important;
}

.panel.panel-default {
    background: white !important;
}

.container {
    margin-left: 245px !important;
}

.container-fluid {
    background: transparent !important;
}

/* start slide menu */

.wrap {
  position: relative;
}
.wrap .nav-bar .navbar-brand {
  margin-top: 15px;
}
.wrap .nav-bar .navbar-form {
  margin-top: 25px;
}
.wrap .nav-bar .nav {
  float: right !important;
}
.wrap .nav-bar .nav .dropdown span.fa,
.wrap .nav-bar .nav .dropdown span.caret {
  margin-right: 10px;
}
.wrap .nav-bar .nav .dropdown-menu {
  background: whitesmoke;
  left: auto;
  width: 200px;
  right: 0;
}
.wrap .nav-bar .nav .dropdown-menu > li > a {
  color: #ddd;
  padding: 8px;
}
.wrap .nav-bar .nav .dropdown-menu > li > a:hover {
  background: whitesmoke;
}
.wrap .side-menu-link {
  left: 21em;
}
.wrap .burger {
  position: relative;
  width: 35px;
  height: 30px;
  left: 10px;
  top: 5px;
  z-index: 500000;
}
.wrap .burger .burger_inside {
  position: absolute;
  background-color: orange;
  width: 30px;
  height: 5px;
  left: 2.5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.wrap .burger #bgrOne {
  top: 0;
}
.wrap .burger #bgrTwo {
  top: 10px;
}
.wrap .burger #bgrThree {
  top: 20px;
}
.wrap #side-menu {
  position: absolute;
  z-index: -1;
  background: #404040;
  width: 22em;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 10px;
  float: left;
  display: block;
  left: 0;
  height: 900px;
}
.wrap .content {
  position: absolute;
  right: 0;
  min-width: 400px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrap .content .top-bar {
  height: 40px;
  background: #ddd;
}
.wrap .content .content-inner {
  padding: 0;
  margin: 0;
  background: #fff;
  padding-left: 20px;
  display: block;
  position: absolute;
  height: 900px;
  width: 100%;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #303030;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li:not(open) last-child .link {
  border-bottom: 0;
}
.wrap ul.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: orange;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.wrap ul.accordion li.open .link {
  color: #FFB266;
}
.wrap ul.accordion li.open i {
  color: #FFB266;
}
.wrap ul.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap ul.accordion ul.submenu {
  display: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}
.wrap ul.accordion ul.submenu li {
  border-bottom: 1px solid #4b4a5e;
  list-style: none;
}
.wrap ul.accordion ul.submenu li a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.wrap ul.accordion ul.submenu li a:hover {
  background: rgba(240, 128, 128, 0.8);
  color: #ffb266;
}
@media screen and (max-width: 768px) {
  .wrap .nav-bar .navbar-brand {
    margin-top: 0;
    padding-left: 0;
  }
  .wrap .side-menu-link {
    display: inline-block;
  }
  .wrap #side-menu #qform {
    position: absolute;
    top: 10px;
  }
  .wrap .content {
    left: 0;
  }
  .wrap.active .content {
    left: 21em;
  }
  .wrap.active .content #bgrOne {
    top: 10px;
    transform: rotate(225deg);
  }
  .wrap.active .content #bgrTwo {
    opacity: 0;
  }
  .wrap.active .content #bgrThree {
    top: 10px;
    transform: rotate(315deg);
  }
}
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }
  .wrap {
    position: relative;
  }
  .wrap .content {
    left: 21em;
    right: 0;
  }
}

.container-fluid {
    padding: 0px 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* end slide menu */

@media(min-width:767px){

.container {
    margin-left: 0px !important;
}

    .panel.panel-default {
    background: white !important;
}
    .jumbotron{
    display:none;
    }

    .profile-header-img > img.img-circle {
    width: 90px !important;
    height: 90px !important;
    border: 4px solid #cccccc;
}

    
    .container-fluid{
    background: transparent;
    color: black !important;
    }

    .mobile-body{
    color:black !important;
    margin-top: -52px !important;
    }

    .mobile-body a{
    text-decoration: none !important;
    }

    .mobile-body h1, h2, h3, h4{
    color:black !important;
    }


    .custom-ftr{
    display:none;
    }
    .custom-ftr-mobile{
        display:block !important;
    }
    .mobile-para{
        color:#333333 !important;
        font-size: 16px !important;
    }
    .cust-mob-body-text{
        text-align: center !important;
    }
    .cust-head-subhead-text{
    color: black !important;
    }

    table {
        width:95%;
    }
    form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
        width:100% !important;
    }

    .container-fluid {
    padding: 0px 0px !important;
    margin-left: 0px !important;
    }

    body {
        background: white !important;
    }

    .step1 {
        min-height: 60px !important;
        margin-left: -20px !important;

    }

    .content-inner {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .how-nav {
        background-color:#0f0; 
        height:50px; 
        width:70%; 
        float:left; 
    }

    .how-nav-text-container {
        background-color:#0f0; 
        height:50px; 
        width:30%; 
        float:left; 

    }

    .how-nav-pipe {
        color: #b0b0b0 !important;
    }

    .how-nav-text {
        color: orange !important;
    }

    .how-nav-container {
        margin-top: -50px !important;
    }

    .mob-body-text {
        width: 80%;  
        text-align: center !important; 
        font-size: 17px; 
        margin-left: 40px !important;
    }

    .tile-icon-container {
        background-color:#2388f9 !important; 
        height:300px;
    }

    .tile-icon-lrg-text {
        background-color:#00f; 
        height:300px; 
        width:100%; 
        border-right: 1px solid;
    }

    .mobile-para-body {
        text-align: left !important; 
        color: white !important; 
        width: 80%; 
        margin: 0 auto !important; 
        font-size: 16px !important;
    }

    .glyph-lrg-cntr {
        font-size: 50px; 
        color: white; 
        display: block; 
        text-align: center;
    }

    .info-form {
        width: 80% !important; 
        margin: 0 auto !important; 
        color: white !important;
    }

    thead th {
    background: #d3d3d3 !important;
    }

    form select {
        
        width: 50% !important;
        padding: 4px;
        height: 29px;
        font-size: 16px !important;
        background: transparent;
    }

    .ui-datepicker .ui-datepicker-header {
      width: 98% !important;
    }

    .ui-datepicker .ui-datepicker-header {
      margin-top: 10px !important;
    }

    label {
      font-size: 15px !important;
    }

    .btn db-button-color-square btn-lg {
      background: whitesmoke !important;
    }

    #npPrfPic {
      max-width: 65px;  
      border: 0px solid #b0b0b0;
      margin-top: -20px !important;
    }

    

}
@media(min-width:992px){

      .col-lg-4 {
        width: 100%;
    }
    .tile-icon-lrg {
        width: 100%;
    }
    .container {
      margin-left: 160px !important;
    }
    .mob-body-text {
      width: 100%;
      margin-left: 0px !important;
    }
    .tile-icon-sm {
      width: 67%;
    }
    .info-form {
      display: none !important;
    }
    .deskTopForm {
      display: block !important;
      width: 66%;
      margin-left: 42px;
      padding: 30px;
      color: black !important;
      margin-top : 20px;
    }
    .tile-icon-container {
      max-height: 535px !important;
      color: white !important;
    }
    #dtFormBkg {
      width: 30%;
      background: white;
      margin: 0 auto;
      border-radius: 6px;
    }
        .side-nav {
        margin-top: -9px;
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
  }

  .side-nav>li>ul {
      padding: 0;
      border-bottom: 1px rgba(0,0,0,.3) solid;
  }

  .side-nav>li>ul>li>a {
      display: block;
      padding: 10px 15px 10px 38px;
      text-decoration: none;
      /*color: #999;*/
      color: #fff;    
  }

  .side-nav>li>ul>li>a:hover {
      color: #cccccc !important;
  }

  .navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
  }

  .navbar-default .navbar-nav>li>a:hover{
      background: #efefef !important;
  }

  .navbar .nav > li > a:hover > .label {
    top: 10px;
  }

  .navbar-brand {
      padding: 5px 15px;
      color: orange !important;
      font-size: 34px;
      padding-top: 16px;

  }

  .navbar-default .navbar-brand a {
      color: orange !important;
  }



  /* end   */
   .cust-block-icons a:link {

   color: #ffd700 !important;

   }

  .navbar-login
  {
      width: 305px;
      padding: 10px;
      padding-bottom: 0px;
  }

  .navbar-login-session
  {
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 0px;
  }

  .icon-size
  {
      font-size: 87px;
  }

  .tile-icon{
      display:inline-block;
      font-size: 40px;
      line-height: 100px;
      background-color:transparent !important;
      color:#2388f9;
      width: 33%;
      height: 100px;
      text-align: center;
      vertical-align: bottom;
  }

  .tile-icon-lrg{
      display:inline-block;
      font-size: 40px;
      line-height: 300px;
      background-color:transparent !important;
      color:white !important;
      width: 33%;
      height: 300px;
      text-align: center;
      vertical-align: bottom;
  }

  .tile-icon-sm{
      display:inline-block;
      font-size: 20px;
      line-height: 100px;
      background-color:transparent !important;
      color:white !important;
      width: 33%;
      height: 300px;
      text-align: center;
      vertical-align: bottom;
  }


  .jumbotron {
      background-color: #ffffff !important;
      border: 1px solid #0069ff;  

      h1{
      color: #0069ff !important;
      }

      h3{
      color: #f9ab23;
      font-weight: bold !important;
          text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;

      }

      h2{
      color:#0069ff !important;
      font-weight: bold;
      }
  }

  .navbar-default {
      .container-fluid {  
          background-color: #ffffff;
              .navbar-nav > li > a {
              color:#000000;
              font-size: 16px;
              font-weight: bold;
          }
          .navbar-brand {
          color:#f9ab23;
          font-size: 30px;
          font-weight: bold;
          font-family: 'Days One', sans-serif;
          text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1x 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
          }
      }
  }

  .container-fluid {
      padding: 10px 120px !important;

  }

  /*  profile start  */

   /* Profile image component */
  .profile-header-container{
      margin: 0 auto;
      text-align: center;
      margin-top:70px;
  }

  .profile-header-img {
      padding: 54px;
  }

  .profile-header-img > img.img-circle {
      width: 90px;
      height: 90px;
      border: 4px solid #cccccc;
  }

  .profile-header {
      margin-top: 43px;
  }





  .jumbotron {
  background-image: url("https://s3.amazonaws.com/nextpakkweb/app-header-image-web-app-1200-transp.png");
  background-size: cover;}

  .nav-tabs>li>a {
      text-decoration: none !important;
  }

  .navbar-default .container-fluid .navbar-brand {
      text-decoration: none !important;
  }

  .navbar-nav > li > a  {
      text-decoration: none !important;
  }

  a,a:link, a:visited {
      text-decoration: none !important;
  }

  a, a:link,  {
      color: black !important;
  }

  a:active a:visited {
      color: #B8B8B8  !important;
  }

  .navbar-default .container-fluid .navbar-brand{
      color: #f9ab23 !important;
  }

  .top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
      background: #efefef !important;
  }

  .panel.panel-default {
      background: white !important;
  }

  .container {
      margin-left: 245px !important;
  }

  .container-fluid {
      background: white !important;
  }

  /* start slide menu */

  .wrap {
    position: relative;
  }
  .wrap .nav-bar .navbar-brand {
    margin-top: 15px;
  }
  .wrap .nav-bar .navbar-form {
    margin-top: 25px;
  }
  .wrap .nav-bar .nav {
    float: right !important;
  }
  .wrap .nav-bar .nav .dropdown span.fa,
  .wrap .nav-bar .nav .dropdown span.caret {
    margin-right: 10px;
  }
  .wrap .nav-bar .nav .dropdown-menu {
    background: whitesmoke;
    left: auto;
    width: 200px;
    right: 0;
  }
  .wrap .nav-bar .nav .dropdown-menu > li > a {
    color: #ddd;
    padding: 8px;
  }
  .wrap .nav-bar .nav .dropdown-menu > li > a:hover {
    background: whitesmoke;
  }
  .wrap .side-menu-link {
    left: 21em;
  }
  .wrap .burger {
    position: relative;
    width: 35px;
    height: 30px;
    left: 10px;
    top: 5px;
    z-index: 500000;
  }
  .wrap .burger .burger_inside {
    position: absolute;
    background-color: #000033;
    width: 30px;
    height: 5px;
    left: 2.5px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .wrap .burger #bgrOne {
    top: 0;
  }
  .wrap .burger #bgrTwo {
    top: 10px;
  }
  .wrap .burger #bgrThree {
    top: 20px;
  }
  .wrap #side-menu {
    position: absolute;
    z-index: -1;
    background: #404040;
    width: 22em;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 10px;
    float: left;
    display: block;
    left: 0;
    height: 900px;
  }
  .wrap .content {
    position: absolute;
    right: 0;
    min-width: 400px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .wrap .content .top-bar {
    height: 40px;
    background: #fff !important;
  }
  .wrap .content .content-inner {
    padding: 0;
    margin: 0;
    background: #fff;
    padding-left: 20px;
    display: block;
    position: absolute;
    height: 900px;
    width: 100%;
  }
  .wrap ul.accordion {
    width: 100%;
    background: transparent;
  }
  .wrap ul.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #9D9D9D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .wrap ul.accordion li:not(open) last-child .link {
    border-bottom: 0;
  }
  .wrap ul.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #2388f9;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .wrap ul.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  .wrap ul.accordion li.open .link {
    color: #2388f9;
  }
  .wrap ul.accordion li.open i {
    color: #2388f9;
  }
  .wrap ul.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .wrap ul.accordion ul.submenu {
    display: none;
    background: transparent;
    font-size: 14px;
    padding: 0;
  }
  .wrap ul.accordion ul.submenu li {
    border-bottom: 0px solid #4b4a5e;
    list-style: none;
  }
  .wrap ul.accordion ul.submenu li a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .wrap ul.accordion ul.submenu li a:hover {
    background: rgba(240, 128, 128, 0.8);
    color: #ffb266;
  }
  @media screen and (max-width: 768px) {
    .wrap .nav-bar .navbar-brand {
      margin-top: 0;
      padding-left: 0;
    }
    .wrap .side-menu-link {
      display: inline-block;
    }
    .wrap #side-menu #qform {
      position: absolute;
      top: 10px;
    }
    .wrap .content {
      left: 0;
    }
    .wrap.active .content {
      left: 21em;
    }
    .wrap.active .content #bgrOne {
      top: 10px;
      transform: rotate(225deg);
    }
    .wrap.active .content #bgrTwo {
      opacity: 0;
    }
    .wrap.active .content #bgrThree {
      top: 10px;
      transform: rotate(315deg);
    }
  }
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }
  .wrap {
    position: relative;
  }
  .wrap .content {
    left: 21em;
    right: 0;
  }
}

    .container-fluid {
        padding: 0px 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* end slide menu */

@media(max-width:767px){

    .container {
        margin-left: 0px !important;
    }

        .panel.panel-default {
        background: white !important;
    }
        .jumbotron{
        display:none;
        }

        .profile-header-img > img.img-circle {
        width: 90px !important;
        height: 90px !important;
        border: 4px solid #cccccc;
    }

    
    .container-fluid{
    background: transparent;
    color: black !important;
    }

    .mobile-body{
    color:black !important;
    margin-top: -52px !important;
    }

    .mobile-body a{
    text-decoration: none !important;
    }

    .mobile-body h1, h2, h3, h4{
    color:black !important;
    }


    .custom-ftr{
    display:none;
    }
    .custom-ftr-mobile{
        display:block !important;
    }
    .mobile-para{
        color:#333333 !important;
        font-size: 16px !important;
    }
    .cust-mob-body-text{
        text-align: center !important;
    }
    .cust-head-subhead-text{
    color: black !important;
    }

    table {
        width:95%;
    }
    form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
        width:100% !important;
    }

    .container-fluid {
    padding: 0px 0px !important;
    margin-left: 0px !important;
    }

    body {
        background: whitesmoke !important;
    }

    .step1 {
        min-height: 60px !important;
        margin-left: -20px !important;

    }

    .content-inner {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .how-nav {
        background-color:#0f0; 
        height:50px; 
        width:70%; 
        float:left; 
    }

    .how-nav-text-container {
        background-color:#0f0; 
        height:50px; 
        width:30%; 
        float:left; 

    }

    .how-nav-pipe {
        color: #b0b0b0 !important;
    }

    .how-nav-text {
        color: orange !important;
    }

    .how-nav-container {
        margin-top: -50px !important;
    }

    .mob-body-text {
        width: 80%;  
        text-align: center !important; 
        font-size: 17px; 
        margin-left: 40px !important;
    }

    .tile-icon-container {
        background-color:#2388f9 !important; 
        height:300px;
    }

    .tile-icon-lrg-text {
        background-color:#00f; 
        height:300px; 
        width:100%; 
        border-right: 1px solid;
    }

    .mobile-para-body {
        text-align: left !important; 
        color: white !important; 
        width: 80%; 
        margin: 0 auto !important; 
        font-size: 16px !important;
    }

    .glyph-lrg-cntr {
        font-size: 50px; 
        color: white; 
        display: block; 
        text-align: center;
    }

    .info-form {
        width: 80% !important; 
        margin: 0 auto !important; 
        color: white !important;
    }

    thead th {
    background: #d3d3d3 !important;
    }

    form select {
        
        width: 50% !important;
        padding: 4px;
        height: 29px;
        font-size: 16px !important;
        background: transparent;
    }

    .ui-datepicker .ui-datepicker-header {
      width: 98% !important;
    }

    .ui-datepicker .ui-datepicker-header {
      margin-top: 10px !important;
    }

    label {
      font-size: 15px !important;
    }

    .btn db-button-color-square btn-lg {
       background: whitesmoke !important;
    }
}
@media(min-width:1200px){

  .col-lg-4 {
      width: 100%;
  }
  .tile-icon-lrg {
      width: 100%;
  }
  .container {
    margin-left: 160px !important;
  }
  .mob-body-text {
    width: 100%;
    margin-left: 0px !important;
  }
  .tile-icon-sm {
    width: 67%;
  }
  .info-form {
    display: none !important;
  }
  .deskTopForm {
    display: block !important;
    width: 66%;
    margin-left: 42px;
    padding: 30px;
    color: black !important;
    margin-top : 20px;
  }
  .tile-icon-container {
    max-height: 535px !important;
    color: white !important;
  }
  #dtFormBkg {
    width: 30%;
    background: white;
    margin: 0 auto;
    border-radius: 6px;
  }

  .col-lg-3 {
    width: 70% !important;
  }

  .hidden-lg {
   display: block !important;
  }

  .panel {
    width: 70%;
    margin: 0 auto;
  }
  .subContainer {
    background: white;
    margin: 0 auto;
    margin-left: -184px;
  }
  .db-padding-btm {
    margin-left: 186px;
  }
  
}

/* start subscriptions */

/*============================================================
BACKGROUND COLORS #46A6F7 #F59B24 #52E89E
============================================================*/
.db-bk-color-one {
    background-color: #46A6F7;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #46A6F7;
}

.db-bk-color-six {
    background-color: #46A6F7;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
            font-size: 18px !important;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: transparent;
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #F59B24;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }

.panel-primary>.panel-heading {
  background: #000033 !important;
}

.btn db-button-color-square btn-lg {
  background: whitesmoke !important;
}

/* stop subscriptions */

/*Start bootstrap overrides*/

.btn-primary {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(247, 247, 247) 100%) !important;
    background-repeat: repeat-x;
    border-color: rgb(234, 232, 232) !important;

    color: #2388f9 !important;
    border-radius: 5px !important;
    font-size: 18px !important;
    padding: 10px !important;
    text-shadow: #fff 0 1px 0 !important;
}

.btn-primary:hover {
    background-color: whitesmoke;
    border-color: #204d74;
}

.btn-info {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(247, 247, 247) 100%) !important;
    background-repeat: repeat-x;
    border-color: rgb(234, 232, 232) !important;

    color: #2388f9 !important;
    border-radius: 5px !important;
    font-size: 18px !important;
    padding: 10px !important;
    text-shadow: #fff 0 1px 0 !important;
}

.btn-default {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(247, 247, 247) 100%) !important;
    background-repeat: repeat-x;
    border-color: rgb(234, 232, 232) !important;

    color: #2388f9 !important;
    border-radius: 5px !important;
    text-shadow: #fff 0 1px 0 !important;
}

.btn-default.btn-xs {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(247, 247, 247) 100%) !important;
    background-repeat: repeat-x;
    border-color: rgb(234, 232, 232) !important;

    color: #2388f9 !important;
    border-radius: 5px !important;
    text-shadow: #fff 0 1px 0 !important;
}

.btn-warning {
    background-color: #ffd700 !important;
    border-color: #ffd700 !important;
    background-image: -webkit-linear-gradient(top,#ffd700 0, #f0ad4e 100%);
    background-image: -o-linear-gradient(top,#ffd700 0,#f0ad4e 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffd700),to(#f0ad4e));
    background-image: linear-gradient(to bottom,#ffd700 0,#f0ad4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd700', endColorstr='#f0ad4e', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.jumbotron {
  background-color:inherit;
}

.container-full-bg {
  width:100%;
  height:100%;
  max-width:100%;
  background-position:center;
  background-size:cover;
}
.container-full-bg .container, .container-full-bg .container .jumbotron {
  height:100%;
  width:100%;
}



/*Stop bootstrap overrides*/