<div class="row">
    <div class="tile-icon-container" style="background: #0069ff !important;">
      <div class="col-xs-12 col-sm-6 col-lg-4">
                  <div class="box">             
                    <div class="icon">
                      <div class="image"><i class="glyphicon glyphicon-shopping-cart glyph-lrg-cntr"></i></div>
                      <div class="info-form">
                      <br /> <br />

      
                          </div>
                        </div>
                        <div class="space"></div>
                      </div> 
                    </div>
  </div>
  </div>
  <div id="wrapper">
       <div id="page-wrapper">
          <div class="container-fluid" style="width: 80%; margin: 0 auto !important;">
                      <%= render 'pay' %>
                      <!-- /.container-fluid -->
                  </div>     
        </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
<div id="footer" style="background: #0069ff !important;">
      <div class="container how-nav-container">
        <div class="col-1g-1 tile-icon how-nav" style="font-size: 20px !important; text-align: left !important;">
             by <a href="http://www.spotberry.com">Appertry</a>
        </div>
        <div class="col-1g-9 tile-icon-sm how-nav-text-container" style="display: none !important;">
          <a href="/" class="cust-block-icons how-nav-text"> close <i class="glyphicon glyphicon-remove"></i></a>
        </div>  
      </div>
</div>
</div>

