<div class="public-ftr"><%= image_tag "https://s3.amazonaws.com/nextpakkweb/app-header-image-web-app-1200-transp.png", class: "img-responsive" %> 
<p>copyright 2016 NextPakk LLC.</p>
</div><br /><br />