<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><%= link_to root_path do %>
                  <span class="fa fa-fw fa-truck""></span> Delivery
                  <% end %></li>
                    
                   
                </li>
                <li><%= link_to paqs_pickup_path do %>
                  <span class="glyphicon glyphicon-thumbs-up"></span> Pickup
                  <% end %></li>
                    
                </li>
                <li>
                    <li><%= link_to paqs_address_path do %>
                  <span class="glyphicon glyphicon-map-marker"></span> Address
                  <% end %>
                </li>
                <li style="display: none;">
                    <a href="#"><i class="fa fa-fw fa-shopping-cart"></i>  ORDERS</a>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->