<a href="/" class="logo" style="margin-top: 25px;">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" style="color: white;"><b>R</b>SOS</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" style="color: white; font-size: 14px;"><b><%= @user.business_name %></b></span>
    </a>