<ul class="nav nav-tabs">
     <li><%= link_to "DASHBOARD", root_path, class: "nav-item" %></li>
      <li class="nav-item" style="background: #ffffff !important;">
        <a class="nav-link active" href="#">FUNNEL</a>
      </li>
      <li><%= link_to "INVITES", invites_path, class: "nav-item" %></li>
      <li class="nav-item" style="background: #ffffff !important;">
        <a class="nav-link" href="#">REVIEWS</a>
      </li>
      <li class="nav-item" style="background: #ffffff !important;">
        <a class="nav-link" href="#">REPORTING</a>
      </li>
    </ul>