<div class="navbar-custom-menu" style="float: right; padding: 10px; padding-top: 2px; display: none;"><h1><b>Reviews</b>SOS</h1>
</div>

<ul class="nav nav-tabs" style="border-bottom: 0px !important;">
     <li><%= link_to "DASHBOARD", root_path  %></li>
      <li class="nav-item" style="background: #ffffff !important; display: none;">
        <a class="nav-link active" href="#">FUNNEL</a>
      </li>
      <li><%= link_to "WIDGETS", widgets_index_path %></li>
      <li><%= link_to "INVITES", invites_path %></li>
      <li><%= link_to "REVIEWS", businesses_review_path %></li>
      <li style="background: #ffffff !important;">
        <a href="#">REPORTING</a>
      </li>
    </ul>
