<div class="pull-left">
    <ul class="nav nav-tabs">
         <li role="presentation"><%= link_to "Delivery", root_path %></li>
         <li role="presentation"><%= link_to "Pick-up", paqs_pickup_path %></li>
         <li role="presentation"><%= link_to "Pricing", paqs_pickup_path %></li>
         <li role="presentation"><%= link_to "FAQs", paqs_pickup_path %></li>
     </ul>
</div>